.banner {
    background-image: none;
    .bannerDiv {
        min-height: 806px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        video {
            position: relative;
            @media all and (max-width: 1192px) {
                display: none;
            }                
        }
        .imgLogo {
            position: absolute;
            // margin-top: -8%;
            width: 50%;
            animation: floatingEffect $logofloatingDuration linear infinite both;
        }
        .imgBanner {
            display: none;
            @media all and (max-width: 1192px) {
                display: block;
                width: 100%;
                min-height: 806px;
                margin-top: unset;
                object-fit: cover;
                }                
            }
    }
    }

.fadeDebutDown {
    animation: fadeDebutDown $fadeinDuration forwards;
  }

.story {
    .storyDiv {
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    h2 {
        &::after {
            width: 155px;
            height: 154px;
            animation: animFlower $flowerrotationDuration linear infinite;
        }
    }
    #characters {
        flex-direction: column;
        margin: 0em;
    }
    &__article {
        &::after {
            width: 188px;
            height: 188px;
            animation: animFlower $flowerrotationDuration linear infinite;
        }
        p {
            animation: textStatic 2500ms both;
        }
    }
    #place {
        background-image: url(../asset/images/Studio_Koukaki-image_place.png);
        position: relative;
        .storyCloud {
            position: absolute;
            max-width: unset;
            width: 100%;
            min-height: 699px;
            margin-left: unset;
        }
        .clouds {
            width: 100%;
            height: 100%;
            filter: blur(16px);
            position: absolute;
            top: 75px;
            right: var(--rightCloud);
        }
        .bigCloud {
            position: absolute;
            right: 0px;
        }
        .littleCloud {
            position: absolute;
            right: 250px;
            top: 150px;
        }
}
}

.animStoryTitle {
    display: inline-block;
    animation: translateTitle $titleanimationDuration $titleanimationDelay backwards;
  }

#studio {   
    .studioDiv {
    opacity: 0;
    position: relative;
    margin-top: 3em; 
}  
}

.animDebut {
    animation: fadeDebut $fadeinDuration forwards;
  }
  
.animTitle_A {
    display: inline-block;
    animation: translateTitle $titleanimationDuration $titleanimationDelay backwards;
  }
  
.animTitle_B {
    display: inline-block;
    animation: translateTitle $titleanimationDuration calc($titleanimationDelay*2) backwards;
  }

.site-footer {
    display: flex;
    flex-direction: column;
    padding-top: 11em;
    &::after {
        bottom: 26em;
    }
    #nomination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12rem;
    h3 {
        display: inline-block;
        height: 200px;
        font-size: 2rem;
        line-height: 2.3rem;
        padding-top: 40px;
        background-image: url("/koukaki/wp-content/themes/foce-child/asset/images/orange_nomination_bg.png") ;
    }
    img {
        display: inline-block;
        height: 18%;
        width: 18%;
    }
    }
    ul {
        &::after {
            bottom: -36em;
        }
}
}
